.button {
	background-color: #000000;
	border: none;
	color: rgb(209, 26, 26);
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0707ab;
}
.title{
	color: rgba(255, 0, 0, 0.699);
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: 8rem;
  }
  #morecontent {
	background-color: rgb(0, 0, 0);
  }